<div id='navbar'></div>
<h2>
	Dashboard!
</h2>
<h4>
	You have <%= user.escape('hours') %> hours
</h4>
<div id='requests'>
	<% for (var i = 0; i < requests.length; i++) { %>
		<% request = requests.at(i); %>
		<div>
			<h4><%= request.escape('name') %></h4>
			<% transactions = request.transactions(); %>
			<% if (transactions.length === 0) { %>
				<p>No Transactions on this request</p>
			<% } else { %>
				<% for (var j = 0; j < transactions.length; j++) { %>
					<% transaction = transactions.at(j); %>
					<button 
						class='btn btn-primary transaction'
						data-requestid='<%= request.id %>'
						data-transactionid='<%= transaction.id %>'>
						<%= transaction.escape('name') %>
					</button>
					<p><%= transaction.escape('status') %></p>
					<% if (transaction.get('status') === 'Accepted') { %>
						<button
							class='btn btn-primary transaction-pay'
							data-requestid='<%= request.id %>'
							data-transactionid='<%= transaction.id %>'>
							Pay: <%= transaction.escape('name') %>
						</button>
					<% } %>
				<% } %>
			<% } %>
		</div>
	<% } %>
</div>
<div id='offers'>
	<% for (var i = 0; i < offers.length; i++) { %>
		<% offer = offers.at(i); %>
		<div>
			<h4><%= offer.escape('name') %></h4>
			<% transactions = offer.transactions(); %>
			<% if (transactions.length === 0) { %>
				<p>No Transactions on this offer</p>
			<% } else { %>
				<% for (var j = 0; j < transactions.length; j++) { %>
					<% transaction = transactions.at(j); %>
					<button 
						class='btn btn-primary transaction'
						data-offerid='<%= offer.id %>'
						data-transactionid='<%= transaction.id %>'>
						<%= transaction.escape('name') %>
					</button>
					<p><%= transaction.escape('status') %></p>
					<% if (transaction.get('status') === 'Accepted') { %>
						<button
							class='btn btn-primary transaction-pay'
							data-offerid='<%= offer.id %>'
							data-transactionid='<%= transaction.id %>'>
							Pay: <%= transaction.escape('name') %>
						</button>
					<% } %>
				<% } %>
			<% } %>
		</div>
	<% } %>
</div>
<div class="modals"></div>