<!DOCTYPE html>
<html>
<head>
  <title>Reallocate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<script>
	<% if current_user %>
		Reallocate.currentUser = new Reallocate.Models.User({
			id: "<%= current_user.id %>",
			firstName: "<%= current_user.first_name %>",
			lastName: "<%= current_user.last_name %>",
			email: "<%= current_user.email %>",
			gravatar_url: "<%= current_user.gravatar_url %>"
		});
	<% else %>
		Reallocate.currentUser = new Reallocate.Models.User();
	<% end %>

</script>
